.*
!.gitignore
!.scalafmt.conf
!.scalafix.conf
!.env.sh

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/local-plugins.sbt
.history
.bsp

# idea
.idea
.idea_modules
/.worksheet/

# Visual Studio Code
.vscode

# metals specific
project/metals.sbt
